body{
    background-color: rgb(240, 234, 240);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
#Nome{
    font-size: 17px;
    font-family: monospace;
    border-bottom: 1px solid rgb(107, 255, 102);
}
#DivGG{
    width: 595px;
    height: 842px;
    margin-top: 40px;
    margin-left: 500px;
    background-color: #bcffb9;
    border: 1px solid rgb(107, 255, 102);
}
#ParteDireita{  
    width: 250px;
    height: 710px;
    float: right; 
}
#ParteEsquerda{
    width: 345px;
    height: 710px;
    float: left;
   
}
#Habilidades{
    padding: 10px;
    height: 250px;
}
#Experiencia{
    height: 436px;
    border: 1px solid rgb(107, 255, 102);
    margin-left: 5px;
    margin-bottom: 5px;
}
#Contatos{
    padding: 20px;
}
#Objetivo{
    height: 166px;
    background-color: rgb(107, 255, 102);
    padding-bottom: 20%;
    padding-top: 20%;
    margin-right: 5px;
    margin-top: 5px;
}
#Contatos{
    height: 205Px;
    padding: 5px;
}
#Referências{
    height: 220px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(107, 255, 102);
}
.textoCentralizado{
    font-family: monospace;
    text-align: center;
}