body{
    background-color: #b13737;
}
p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
#DivGG{
    width: 595px;
    height: 842px;
    margin-top: 40px;
    margin-left: 500px;
    background-color:rgb(240, 239, 175);
}
#ParteDireita{
    width: 250px;
    height: 750px;
    float: right;
   
}
#ParteEsquerda{
    width: 345px;
    height: 750px;
    float: left;
   
}
#Habilidades{
    width: 345px;
    height: 100px;
    margin-top: 10px;
}
#Experiencia{
    width: 343px;
    height: 470px;
    border: 2px solid yellow;
    margin-top: 150px;
    margin-bottom: 0px;
}
#Contatos{
    padding: 20px;
}
#Objetivo{
    width: 250px;
    height: 167Px;
    background-color: yellow;
    padding-bottom: 80px;
    padding-top: 20px;
}
#Referências{
    border: 2px solid yellow;
    padding: 33px;
    margin-bottom: 0px;
}
#Nome{
    font-size: 17px;
    font-family: monospace;
    border-bottom: 2px solid rgb(119, 119, 214);
}
.textoCentralizado{
    text-align: center;
}