body {
    background-color: #95a5a6;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#Nome {
    font-size: 17px;
    font-family: monospace;
    border-bottom: 1px solid #f1c40f;
}

#DivGG {
    width: 595px;
    height: 842px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border: 2px solid #f1c40f;
}

#ParteDireita {
    width: 250px;
    height: 710px;
    float: right;
}

#ParteEsquerda {
    width: 345px;
    height: 710px;
    float: left;
}

#Habilidades {
    padding: 10px;
    height: 250px;
}

#Contatos {
    padding: 20px;
}

#Objetivo {
    height: 166px;
    background-color: #f1c40f;
    padding-bottom: 20%;
    padding-top: 20%;
    margin-right: 5px;
    margin-top: 5px;
}

#Contatos {
    height: 205Px;
    padding: 5px;
}

#Experiencia {
    height: 436px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid #f1c40f;
}

#Referências {
    height: 220px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #f1c40f;
}

.textoCentralizado {
    font-family: monospace;
    text-align: center;
}


/*Animações*/

#Nome:hover {
    transition: 2s;
    box-shadow: 0 0 10px black inset;
    background-color: #f1c40f;
    transform: scale(1.2);
}

#Experiencia:hover {
    transition: 2s;
    box-shadow: 0 0 10px black inset;
    background-color: #f1c40f;
    transform: scale(1.3);
}

#Objetivo:hover {
    transition: 2s;
    filter: invert(100%);
    box-shadow: 0 0 10px black inset;
    background-color: white;
    transform: scale(1.3);
}

#Referências:hover {
    transition: 2s;
    box-shadow: 0 0 10px black inset;
    background-color: #f1c40f;
    transform: scale(1.3);
}